body {
  padding: 0;
  margin: 0;
  background: #242424;
  font-family: "Roboto", sans-serif;
}
h1 {
  text-transform: uppercase;
  font-size: 5rem;
  max-width: 700px;
  margin-bottom: 20px;
  margin-top: 0px;
  padding-top: 70px;
}
p {
  color: #d1d1d1;
  line-height: 2.5rem;
  font-size: 1.3rem;
  font-weight: 200;
}
h3 {
  color: #e8bfbf;
  font-size: 1.8rem;
  text-transform: capitalize;
}
/*
Hero section
*/
.logo {
  width: 200px;
  margin-top: 150px;
}
.header {
  position: absolute;
  z-index: -10;
  margin: 0;
  width: 80%;
}
.hero {
  max-width: 1200px;
  margin: auto;
  padding: auto;
}
.hero-title {
  color: #242424;
  padding-top: 0px;
  font-size: 5rem;
}

.underline {
  height: 10px;
  width: 150px;
  background: #83745d;
  border-radius: 50px;
}

.hero-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 50px;
}
.hero-img {
  width: 750px;
  transform: translateX(-70px);
}
.hero-text {
  text-align: right;
}
/*
Project section
*/
.project {
  max-width: 1200px;
  margin: auto;
}
.underline-project {
  height: 10px;
  width: 150px;
  background: #83745d;
  border-radius: 50px;
  margin-left: auto;
}
.text-project {
  max-width: 700px;
  padding-top: 50px;
  text-align: right;
  margin-left: auto;
}
.title-project {
  color: #ecc6c6;
  text-align: right;
  margin-left: auto;
}

.img-project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  grid-gap: 40px;
}

.content-text {
  max-width: 500px;
}
.design-img,
.code-img {
  border-radius: 10px;
  width: 400px;
  margin-left: auto;
  box-shadow: 13px 14px 40px -1px rgba(0, 0, 0, 0.36);
}
.project-img {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
  overflow: hidden;
  margin-bottom: 40px;
}
.project-pic {
  width: 380px;
}
/*
About section
*/
.about-title {
  color: #e8bfbf;
  margin-top: 40px;
  font-size: 5rem;
}
.about-text {
  max-width: 600px;
}
.contact {
  max-width: 1200px;
  background: #e8bfbf;
  margin: auto;
  height: 70px;
  width: 900px;
  float: left;
  margin-top: 60px;
}
h4 {
  color: #242424;
  padding-top: 15px;
  font-size: 2rem;
  text-align: right;
  padding-right: 40px;
}

.img {
  width: 700px;
  padding: 20px;
}

.carousel-cell {
  width: 50%;
  padding: 10px;
}

/* cell number */
.carousel-cell:before {
  display: block;
}
.carousel {
  margin: auto;
  max-width: 1200px;
  padding-top: 40px;
}
i {
  color: #e8bfbf;
  font-size: 60px;
  margin: auto;
}
.icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
i:hover {
  color: #83745d;
  transform: scale(1.2);
  cursor: pointer;
}
